html {
    line-height: 1;
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline;
    display: block;
}

body {
    background-color: #666;
    font-size: 100%;
    margin: 0 auto;
    max-width: 1600px;
    color: #040707;
    font-family: Arial,Helvetica,sans-serif;
    padding: 0;
    border: 0;
    font: inherit;
    display: block;
}

@media (min-width: 1600px) {
    body:before{
        content: "huge-desktop";
    }
}

body:before{
    display: none!important;
    position: absolute;
    top: 0;
    left: 0;
    padding: 5px;
    background-color: pink;
    z-index: 10000;
}

div {
    display: block;
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline;
}


.container{
    background-color: #eee;
}

li {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
    display: list-item;
}

time, nav {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline;
}

span, img {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline;
}

h3, h4, footer {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline;
    display: block;
}

span, a, form {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline;
}

a img {
    border: none;
}

/* Styles for header */
header{
    display:block;
    padding: 0;
    border: 0;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline;
}

.header {
    height: 56px;
    background-color: #fff;
    color: #fff;
    max-width: 1600px;
    position:relative;
    padding: 20px 0 0 24px;
}

.header a {
    color: #fff;
}
    
h1 {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline;
    display: block;
    color: #fff;
}

.logo {
    margin-top: -12px;
    
}

nav.primary {
    float: right;
    font-size: 18px;
    position: absolute;
    right: 0;
    top: 0;
    display: block;
    font-family: "Palatino Linotype",Palatino,"Book Antiqua",serif;
    text-transform: uppercase;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline;
    display: block;
}

nav.primary ul li {
    margin-left: 40px;
    vertical-align: middle;
    display: inline-block;
}

nav.primary ul li a {
    color: #040707;
    text-decoration: none;
}

.mobile-search-button {
    display: none;
}

.search-field-container {
    display: inline-block;
}

.search-field-container form {
    margin-bottom: 0;
    display: block;
    list-style: none;
    color: #fff;
}

input {
    margin: 0em;
    font: normal normal normal normal 11px/normal 'Lucida Grande';
    text-rendering: auto;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    padding: 1px;
}

.search-field-container input.search-field {
    border: 0;
    background-color: #000;
    color: #fff;
    border-bottom: solid 1px #fff;
    position: relative;
    top: -30px;
    width: 168px;
}

button {
    align-items: flex-start;
    text-align: center;
    box-sizing: border-box;
    display: inline-block;
    text-rendering: auto;
    letter-spacing: normal;
    word-spacing: normal;
}

.search-field-container form button {
    margin: 0;
    padding: 0;
    border: 0;
    background: 0 0;
    cursor: pointer;
}


/* Style for navigation menu */
#nav-first-wrapper {
    background-color: #003366;
    font-family: "Palatino Linotype",Palatino,"Book Antiqua",serif;
    height: 50px;
    text-transform: uppercase;
    text-align: center;
    font-size: 22px;
    padding: 15px 0 0;
    color: #fff;
    /*color: #040707;  */
    /*background-image: urlrepeating-linear-gradient()*/
    /*background-color: #ebebeb;*/
}
    
.nav-first {
    display: inline-block;
    position: relative;
}

.nav-first li {
    margin-left: 40px;
}

.nav-first>li {
    list-style: none;
    float: left;
    height: 50px;
    text-align: center;
}

.nav-first li>a {
    color: #fff  /*040707*/;
    text-decoration: none;
    display: block;
    padding: 14px;
    font-size: 22px;
    margin-top: -8px;
}

.section-selected {
    display: inline-block;
    height: 10px;
    position: relative;
    top: -18px;
    width: 19px;
}
    
/* Styling for Main */
main {
    padding: 0;
    visibility: visible;
    opacity: 1;
    background-color: #fff;
    overflow: hidden;
    display: block;
    font: inherit;
    font-size: 100%;
    color: #040707;
}

.landing main {
    padding: 0;
}

section {
    display: block;
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline;
}

.panel {
    background-position: center;
    background-repeat: no-repeat;
    color: #fff;
    font-family: "Palatino Linotype", Palatino, "Book Antiqua", serif;
    height: 580px;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    display: block;
}

.panel__title {
    border-bottom: 1px solid #fff;
    font-size: 32px;
    letter-spacing: 10px;
    margin: 0 auto;
    max-width: 640px;
    padding-top: 68px;
    padding-bottom: 5px;
}

.panel__tagline {
    padding-top: 0;
}

.panel__link {
    color: #fff;
    display: block;
    text-decoration: none;
    cursor: pointer;
}

    
.panel__tagline h3 {
    font-size: 148px;
    font-weight: 800;
}

.panel__tagline h3 b{
    display: block;
    font-size: .225em;
    font-weight: 800;
    letter-spacing: 10px;
    padding-bottom: 40px;
}

.panel__read-more-wrapper {
    border-top: 1px solid #fff;
    margin: 0 auto;
    max-width: 640px;
    padding-top: 20px;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline;
    display: block;
}

.panel__read-more-link {
    background-image: url(/chevron-right.png);
    background-position: center right;
    background-repeat: no-repeat;
    color: #fff;
    display: inline-block;
    font-size: 22px;
    font-weight: 400;
    height: 35px;
    padding: 10px 40px 0 0;
    text-decoration: none;
    text-transform: none;
    vertical-align: baseline;
    text-align: center;
}



/* Styling widgets */


section.third {
    float: left;
    height: 420px;
    width: 33.3333%;
}

.widget {
    background-color: #fff;
    color: #040707;
    font-family: "Palatino Linotype", Palatino, "Book Antiqua", serif;
    text-align: center;
    position: relative;
    display: block;
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline;
}

.widget a {
    text-decoration: none;
}

.widget--calendar {
    text-align: left;
    background-color: #040707;
    color: #fff;
}

.widget__title {
    padding-top: 30px;
    text-align: center;
    text-transform: uppercase;
    font-size: 30px;
}

.widget__summary {
    padding: 20px;
}

.widget ul {
    font-size: 20px;
    line-height: 26px;
    list-style-position: inside;
    margin-bottom: 20px;
    margin-left: 23px;
    list-style-type: none;
}

.widget__summary ul a, 
.widget__summary ul li {
    font-size: 22px;
}

.widget--calendar__item {
    height: 4em;
    line-height: 1.5em;
    text-transform: uppercase;
    position: relative;
}

.widget--calendar__date {
    float: left;
    font-weight: 800;
    margin-right: 10px;
    text-align: center;
    width: 40px;
}

.widget--calendar__date span {
    display: block;
}

.widget--calendar__day {
    font-size: 33px;
}

.widget--calendar__month {
    font-size: .9em;
}

.widget--calendar__item-title {
    position: absolute;
    display: table;
    left: 60px;
    top: 0;
    height: 60px;
}

.widget--calendar__item-title span {
    margin-top: 0;
    display: table-cell;
    vertical-align: middle;
    line-height: 26px;
}

.widget__continue {
    bottom: 20px;
    position: absolute;
    text-align: center;
    width: 100%;
    display: block;
}

.widget__continue a {
    background-image: url(/chevronSmallWhite.png);
    background-position: center right;
    background-repeat: no-repeat;
    border-top: 1px solid #fff;
    color: #fff;
    display: block;
    font-size: 22px;
    margin: 0 60px;
    padding: 15px 15px 15px 0;
    vertical-align: baseline;
    text-align: center;
}

section.third {
    float: left;
    height: 420px;
    width: 33.3333%;
}

.widget--image {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #00778b;
    color: #fff;
}

.widget__title {
    padding-top: 30px;
    text-align: center;
    text-transform: uppercase;
    font-size: 30px;
}

.widget__summary {
    padding: 20px;
}

.widget__summary h4 {
    font-weight: 800;
    margin-top: 70px;
    text-transform: uppercase;
}

.widget__summary h4.large {
    font-size: 68px;
}

.widget__summary h4 span {
    display: block;
    margin-top: 6.67px;
    margin-bottom: 10px;
    font-size: 22px;
}

.widget--text {
    text-align: left;
}

section.widget.third.widget--text.widget--text.white {
    text-align: center;
    background-color: #040707;
    color: #fff;
}

section.widget.third.widget--image {
    color: #fff;
    background-color: #fff;
}



/* Footer */

.footer {
    background-color: #eee;
    clear: both;
    color: #040707;
    font-family: "Palatino Linotype", Palatino, "Book Antiqua", serif;
    padding: 20px;
    text-transform: uppercase;
    visibility: visible;
    opacity: 1;
    display: block;
}
    
.footer__nav {
    display: block;
    text-transform: uppercase;
    font-family: "Palatino Linotype", Palatino, "Book Antiqua", serif;
    float: right;
}

.footer__nav ul li {
    margin-left: 20px;
    display: inline-block;
}

.footer__nav ul li a {
    text-decoration: none;
    color: #666;
}
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    

